body {
  text-align: center;
}

.header{
  font-family:'Pompiere', cursive;
  font-weight: normal;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

/**hover effect using jquery for nav bar**/

.hoverEffect:hover {
    border-bottom: 2px solid grey;
    -webkit-transition: border-bottom 300ms linear;
    -moz-transition: border-bottom 300ms linear;
    -o-transition: border-bottom 300ms linear;
    -ms-transition: border-bottom 300ms linear;
    transition: border-bottom 300ms linear;
}
, nav a .hoverEffectSelect {
    border-bottom: 2px solid #666666;
}

.hoverEffectSelect {
    border-bottom: 2px solid grey;
}


nav a{
  padding: 0;
  color: #666666;
  text-decoration: none;
  display: inline-block;
  font-family: 'Pompiere', cursive;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

/**box column**/

.content-box {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.blocks {
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-top: 10px;

  line-height: 150px;
  color: black;
  font-family: 'Pompiere', cursive;
  font-size: 2em;
  border: solid 2px black;
  text-align: center;
}

/**blockquote styling**/

.quote {
  font-family: 'Pompiere', cursive;
  font-style: italic;
  font-size: 40px;
  padding-top: 10px;
}

/**about page image**/
img {
  display: block;
  max-width: 150px;
  border-radius: 100%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto
}

p{
  padding: 0;
  color: #666666;
  text-decoration: none;
  display: inline-block;
  font-family: 'Pompiere', cursive;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

#thumbnail {
  max-width: 800px;
  margin: 0 auto;
}

.media-handles{
  text-align: center;
  display: inline;
  max-width: 60px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 20px;
}

section p{
  max-width: 900px;
  margin: 0 auto;
  font-size: 20px;
}

footer p{
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  padding-top: 10px;
}
